*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{

    font-family:'Montserrat',sans-serif;

    background:url("background.jpg") center center/cover no-repeat;

    min-height:100vh;

    display:flex;

    justify-content:center;

    align-items:center;

    padding:30px;

}

.overlay{

    position:fixed;

    inset:0;

    background:rgba(0,0,0,.45);

}

.app{

    width:100%;

    max-width:850px;

    position:relative;

    z-index:2;

}

.glass{

    background:rgba(0,0,0,.55);

    backdrop-filter:blur(12px);

    border-radius:20px;

    padding:35px;

}

h1{

    color:white;

    margin-bottom:10px;

}

p{

    color:#ddd;

    margin-bottom:30px;

}

.playlist{

    display:flex;

    flex-direction:column;

    gap:12px;

}

.music{

    background:rgba(255,255,255,.10);

    color:white;

    border:none;

    padding:16px;

    border-radius:12px;

    cursor:pointer;

    transition:.25s;

    text-align:left;

    font-size:16px;

}

.music:hover{

    background:white;

    color:black;

}

.music.active{

    background:#c8a343;

    color:black;

}

.hidden{

    display:none;

}

#player{

position:absolute;
left:-9999px;
width:1px;
height:1px;

}


#currentTitle{

    color:white;

    text-align:center;

    margin-top:20px;

    font-size:22px;

    font-weight:600;

}

@media(max-width:768px){

    .glass{

        padding:20px;

    }

    h1{

        font-size:26px;

    }

    .music{

        font-size:15px;

        padding:14px;

    }

    #currentTitle{

        font-size:18px;

    }

}
