*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
}

.background{
    position:fixed;
    inset:0;
    background:url("background.jpg") center center/cover no-repeat;
    z-index:-2;
}

.overlay{
    position:fixed;
    inset:0;
    background:rgba(0,0,0,.45);
    z-index:-1;
}

.app{
    width:90%;
    max-width:700px;
}

.glass{
    background:rgba(84, 18, 34, 0.82);
    backdrop-filter:blur(14px);
    border:1px solid rgba(212,175,55,.35);
    border-radius:20px;
    padding:30px;
    color:#F5E8CF;
    box-shadow:0 15px 40px rgba(0,0,0,.35);
}

header h1{
    margin-bottom:10px;
    color:#D4AF37;
}

header p{
    margin-bottom:25px;
    color:#F5E8CF;
}

.playlist{
    display:flex;
    flex-direction:column;
    gap:10px;
}

.music{
    background:rgba(255,255,255,.08);
    border:1px solid rgba(212,175,55,.18);
    color:#F5E8CF;
    padding:15px;
    border-radius:10px;
    cursor:pointer;
    transition:.3s;
    text-align:left;
    font-size:16px;
}

.music:hover{
    background:#D4AF37;
    color:#4B1622;
}

.music.active{
    background:#D4AF37;
    color:#4B1622;
    font-weight:bold;
}

#currentTitle{
    margin-top:25px;
    margin-bottom:20px;
    text-align:center;
    color:#D4AF37;
}

.controls{
    display:flex;
    justify-content:center;
    gap:20px;
}

.controls button{
    width:50px;
    height:50px;
    border-radius:50%;
    border:1px solid rgba(212,175,55,.35);
    background:rgba(255,255,255,.08);
    color:#F5E8CF;
    cursor:pointer;
    font-size:20px;
    transition:.3s;
}

.controls button:hover{
    background:#D4AF37;
    color:#4B1622;
}

#player{
    position:absolute;
    left:-9999px;
    width:1px;
    height:1px;
}
